@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");


.App {
  display: flex;
  background: #F2EEED;
  height: 800px;
}

.selected {
  display: flex;
  flex-grow: 2;
  font-family: "Lato";
  font-size: 40px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.selected-text {
  display: flex;
  align-content: center;
  justify-content: center;
}

.no-love {
  display: flex;
  flex-grow: 2;
  font-family: "Lato";
  font-size: 40px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.no-love-text {
  display: flex;
  align-content: center;
  justify-content: center;
}

.deck-container {
  font-family: "Lato";
  font-size: 40px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-content: center;

}

.deck {
  display: flex;
  border-radius: 20px;
  width: 250px;
  height: 300px;
  position: absolute;
  flex-grow: 1;
}


