.App {
  display: flex;
  flex-grow: 3;
  justify-content: space-evenly;
}

.selected {
  background: blue;
}

.no-love {
  background: red;
}

.deck {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 300px;
  border-radius: 20px;
  position: absolute;
  /* opacity: 0.5; */
}


